[submodule "custom/plugins/navi"]
	path = custom/plugins/navi
	url = https://github.com/denisidoro/navi
[submodule "custom/plugins/zsh-autosuggestions"]
	path = custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
